<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="Private Feed" value="http://40.123.48.16/MyFeed/nuget" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="F:\Nuget" />
    <add key="MyGet-dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="MyGet-XUnit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
</configuration>